.logo {
    animation: logo-spin infinite 20s linear;
    height: 50%;
    min-width: 50px;
    pointer-events: none;
}
  
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}  